<%=	content_for(:head) { javascript_include_tag("users") } %>
<%=	content_for(:head) { stylesheet_link_tag("users") } %>
<%= render :partial => "layouts/topbar" %>
<div id="main-section" class="main-section section">
	<h1>Edit Your Profile</h1>
	<% @action = "update" %>
	<%= render "form" %>
</div>