/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*/

@font-face {
    font-family: "Museo Slab";
    src: url("/assets/Museo_Slab_500.eot");
    src: local("Museo Slab"), 
        url("/assets/Museo_Slab_500.eot?#iefix") format("embedded-opentype"), 
        url("/assets/Museo_Slab_500.woff") format("woff"), 
        url("/assets/Museo_Slab_500.svg#MuseoSlab-500") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Museo Sans";
    src: url("/assets/Museo_Sans_500.eot");
    src: local("Sans"), 
        url("/assets/Museo_Sans_500.eot?#iefix") format("embedded-opentype"), 
        url("/assets/Museo_Sans_500.woff") format("woff"), 
        url("/assets/Museo_Sans_500.svg#MuseoSans-500") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* =============================================================================
Application Styles
========================================================================== */
@mixin rounded($radius:10px) {
    border-radius:$radius;
    -moz-border-radius:$radius;
    -webkit-border-radius:$radius;
}
::selection,
::-moz-selection {
    color:white;
    background: rgb(110,25,25);
}
/* =====================
    Form Styling
====================== */
input, textarea {
    font-family:"Museo Sans","Helvetica Neue",sans-serif;
}
input[type=text], 
input[type=email], 
input[type=search], 
input[type=password], 
textarea {
    border:0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    box-shadow: 1px 1px 4px #333 inset;
    margin:10px 0;
    padding:5px;
}
input[type]:focus {
    outline:none;
}
input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder,
input:-moz-placeholder, 
textarea:-moz-placeholder {
    color:rgb(110,25,25);
}
input[type=button],
input[type=submit],
input[type=reset],
button {
    -webkit-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 11px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 11px rgba(0, 0, 0, 0.75);
    padding:10px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:0;
    display:block;
    font-size: 16pt;
    text-align: center;
    // color: rgb(110,25,25);
    color: white;
    text-shadow: 0px 1px 2px rgb(175, 30, 30);
    
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.19) 0%, rgba(0,0,0,0.05) 50%, rgba(0,0,0,0.22) 100%), url('/assets/button.png');
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.19)), color-stop(50%,rgba(0,0,0,0.05)), color-stop(100%,rgba(0,0,0,0.22))), url('/assets/button.png');
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.19) 0%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0.22) 100%), url('/assets/button.png');
    background: -o-linear-gradient(top,  rgba(0,0,0,0.19) 0%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0.22) 100%), url('/assets/button.png');
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.19) 0%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0.22) 100%), url('/assets/button.png');
    background: linear-gradient(top,  rgba(0,0,0,0.19) 0%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0.22) 100%), url('/assets/button.png');
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30000000', endColorstr='#38000000',GradientType=0 );
    &:active  {
        // background: -moz-linear-gradient(top,  rgba(0,0,0,0.29) 0%, rgba(0,0,0,0.10) 50%, rgba(0,0,0,0.32) 100%), url('/assets/button.png');
        // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.29)), color-stop(50%,rgba(0,0,0,0.10)), color-stop(100%,rgba(0,0,0,0.32))), url('/assets/button.png');
        // background: -webkit-linear-gradient(top,  rgba(0,0,0,0.29) 0%,rgba(0,0,0,0.10) 50%,rgba(0,0,0,0.32) 100%), url('/assets/button.png');
        // background: -o-linear-gradient(top,  rgba(0,0,0,0.29) 0%,rgba(0,0,0,0.10) 50%,rgba(0,0,0,0.32) 100%), url('/assets/button.png');
        // background: -ms-linear-gradient(top,  rgba(0,0,0,0.29) 0%,rgba(0,0,0,0.10) 50%,rgba(0,0,0,0.32) 100%), url('/assets/button.png');
        // background: linear-gradient(top,  rgba(0,0,0,0.29) 0%,rgba(0,0,0,0.10) 50%,rgba(0,0,0,0.32) 100%), url('/assets/button.png');
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30000000', endColorstr='#38000000',GradientType=0 );
    }
}



html {

}
a {
    text-decoration:none;
    &:link,
    &:visited {
        color:white;
    } 
    &:hover {
        background: rgb(110,25,25);
    }  
}
body {
    font-family:"Museo Slab","Helvetica Neue",sans-serif;
    width: 100%;
    height:100%;
    margin: 0px;
    color:white;
    background-image: -moz-radial-gradient(center, ellipse cover,  rgba(56,56,56,0.04) 0%, rgba(0,0,0,0.52) 100%), url('/assets/background.png');
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(56,56,56,0.04)), color-stop(100%,rgba(0,0,0,0.52))), url('/assets/background.png');
    background-image: -webkit-radial-gradient(center, ellipse cover,  rgba(56,56,56,0.04) 0%,rgba(0,0,0,0.52) 100%), url('/assets/background.png');
    background-image: -o-radial-gradient(center, ellipse cover,  rgba(56,56,56,0.04) 0%,rgba(0,0,0,0.52) 100%), url('/assets/background.png');
    background-image: -ms-radial-gradient(center, ellipse cover,  rgba(56,56,56,0.04) 0%,rgba(0,0,0,0.52) 100%), url('/assets/background.png');
    background-image: radial-gradient(center, ellipse cover,  rgba(56,56,56,0.04) 0%,rgba(0,0,0,0.52) 100%), url('/assets/background.png');
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a383838', endColorstr='#85000000',GradientType=1 );
}
#nav-bar {
    position:relative;
    z-index:1000;
    width:100%;
    background-color:#575757;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.29) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.29)));
    background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.29) 100%);
    background-image: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.29) 100%);
    background-image: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.29) 100%);
    background-image: linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.29) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4a000000',GradientType=0 );
    box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
    margin:0 0 0 0;
    height:60px;
}
#right-nav {
    position:absolute;
    right:0;
    padding:14px;
    a {
        display:inline-block;
        padding:5px 10px;
        &:hover {
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4yOSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.29) 0%, rgba(0,0,0,0) 100%);
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.29)), color-stop(100%,rgba(0,0,0,0)));
            background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.29) 0%,rgba(0,0,0,0) 100%);
            background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.29) 0%,rgba(0,0,0,0) 100%);
            background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.29) 0%,rgba(0,0,0,0) 100%);
            background: radial-gradient(center, ellipse cover,  rgba(255,255,255,0.29) 0%,rgba(0,0,0,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4affffff', endColorstr='#00000000',GradientType=1 );

        }
    }
}
#left-nav {
    position:absolute;
    left:0;
    font-size:24px;
    padding:14px 20px;
}
#center-logo {
    position:absolute;
    left:50%;
    padding:5px;
    margin-left:-23px;
    width:58px;
    height:53px;
    display:inline-block;
    background: url(/assets/toast_small.png) center center no-repeat;
    background-position:center center;
    background-repeat:no-repeat;
}
#container {
    width: 900px;
    margin: 0 auto;
}
#content {
    padding:10px;
    margin:0 20px;
    a {
        &:link,
        &:visited {

        }
        &:hover {

        }
    }
}
#main-section {
    width:800px;
    margin:0 auto;
}



/* Form Stuff */
.field {
    width:500px;

    label {
        display:inline-block;
        width:200px;
        &:focus,
        &:active {
            outline:none;
        }
    }
    input {
        width:211px;
    }
}