// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-section {
	padding:5px;
	margin:10px auto;
	background:url(/assets/noise.png);
	color:#333;
	text-align:center;
	border-radius:10px;
	box-shadow:0px 0px 5px #000;
	-webkit-box-shadow:0px 0px 5px #000;
	-moz-box-shadow:0px 0px 5px #000;
	label {
		text-align:left;
	}
	.field {
		margin:0 auto;
	}
	input[type=submit] {
		margin:10px 0;
		display:inline-block;
	}
}

#album-list {
	margin:0;
	padding:0;
	a {
		width:290px;
		text-align:center;
		display:inline-block;
		font-family:"Museo Sans","Helvetica Neue",sans-serif;
		svg {
			display:block;
			width:290px;
		}
		span.album-name {
			font-size:18px;
			color:#d3d3d3;
			width:290px;
			display:block;
		}
		span.album-date {
			color:#8f8f8f;
			font-size:12px;
		}
		&:hover {
            background:transparent;
		}
	}
}